.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  background-color: #333;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #5ad1a2;
}