.header {
  background-color: #344;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: static;
  width: 100%;
  top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
}

.logo {
  color: #6f9;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  top: 0;
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
}


.nav-link {
  display: flex;
  gap: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar {
    align-items: center;
  }

  .nav-link {
    font-size: 1rem;
  }
}