body {
  background-color: #333
}

html {
  scroll-behavior: smooth;
}

.App {
  color: #6f9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Faculty-Glyphic;
}

section {
  padding: 200px 20px;
  min-height: 100vh;
  border: 1px groove #ccc
}

.section-wrapper {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  width: auto;
  height: auto;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 1000;
  opacity: 0.8;
  transition: opacity 0.3x ease;
}

.back-to-top:hover {
  opacity: 1;
}